<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Model</title>
</head>
<body>
    <h1 style="font-size:3vw">Object Detection Model</h1>
    <p>Running object detection model on video: {{ video }} is completed. The results are as follows: </p>
    {% if found %}
        <p>The Number plate {{ numberPlate }} was found on frame {{ frame_number }}.</p>
        <p>The country was {{ country }}.</p>
        <!-- Display the image -->
        <img id="result-image" src="{{ url_for('static', filename='images/screenshot_foundPLate.jpg') }}" alt="This is the Screenshot where we found the input Number Plate." style="max-width:30%;height:auto;">
        <!-- Download button -->
        <button id="download-button">Download Image</button>
    {% else %}
        <iframe src="https://giphy.com/embed/6uGhT1O4sxpi8" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p>John Travolta looking for a number plate in this video...</p>
        <p>The Number plate was not found in the provided Video.</p>
        <p>Please ensure that the number plate is clearly visible within the video.</p>
        <p>Tips for better results:</p>
        <ul>
            <li>Check the video resolution (higher -> better)</li>
            <li>Check for spelling errors in the searched number plate</li>
        </ul>
    {% endif %}

    <script>
        // Add event listener to the download button
        document.getElementById('download-button').addEventListener('click', function() {
            // Get the image source URL
            var imageUrl = document.getElementById('result-image').src;
            // Create a temporary anchor element
            var link = document.createElement('a');
            // Set the href attribute to the image URL
            link.href = imageUrl;
            // Set the download attribute to prompt for download and specify the filename
            link.download = 'screenshot_foundPLate.jpg';
            // Append the anchor element to the document body
            document.body.appendChild(link);
            // Programmatically click the anchor element to trigger the download
            link.click();
            // Remove the anchor element from the document body
            document.body.removeChild(link);
        });
    </script>
</body>
</html>
